<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista Instruktorów</h2>
    <p>Brak rekordów do wyświetlenia</p>
    <p><a href="form.html" class="button-add">Dodaj nowego instruktora</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>